* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans Mono', monospace;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

header{
    padding: 15px 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > .logo h1{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

nav > .links-nav a active{
    border-top: 5px solid black;
}

nav > .links-nav a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    text-decoration: none;
    letter-spacing: 0.03rem;
    padding: 5px 10px;
    background-color: black;
    box-shadow: 4px 4px 0 rgb(2, 2, 0 / 10%);
}

main{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.datetime-container{ /* Mo 14:47 */
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 25vh;
}

.datetime-container h1{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
}

.datetime-container h2{
    margin-top: 20px;
    font-size: 120px;
    font-weight: bold;
}

.datetime-container h2 span{
    color: white;
    padding: 5px 10px;
    background-color: black;
}

footer{
    display: flex;
    text-align: center;
    flex-direction: column;
}

footer h1{
    font-size: 15px;
    font-weight: 500;
}

footer .footer-contact-links{
    margin-top: 1px;
}

footer .footer-contact-links a{
    color: black;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
/* library css semir */


.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	max-width: 1200px;
	margin:40px 0;
}
.container .card{
	position: relative;
	min-width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
	border-radius: 15px;
	margin:30px;
}

.container .card .box{
	position: absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
	border:2px solid #1e1f23;
	background: #2a2b2f;
	border-radius: 15px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.5);
	transition: 0.5s;
	display:flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;	
}
.container .card .box::before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	height:100%;
    pointer-events: none;
}
.container .card .box:hover{
	transform: translateY(-50px);
	box-shadow: 0 40px 70px rgba(0,0,0,0.5)

}
.container .card .box .content{
	padding:20px;
	text-align:center;

}
.container .card .box .content h2{
	position: absolute;	
	top: -10px;
	right: 0px;
	font-size: 4.5em;
	color: rgba(255,255,255,0.05);
}
.container .card .box .content p{
	font-size: 16px;
	font-weight: 300;
	color: rgba(255,255,255,0.5);
	z-index: 1;
	transition: 0.5s;
}
.container .card .box .content a{
	position: relative;
	display:inline-block;
	padding:8px 20px;
	background:#000;
	margin-top: 15px;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 400;
	color:#fff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}
.container .card:nth-child(1) .box .content a{
	background:#2196f3;
}
.container .card:nth-child(2) .box .content a{
	background:#e91e63;
}

.container .card:nth-child(3) .box .content a{
	background:#97dc47;
}

.map-div{
    display: flex;
    justify-content: space-between;
}

.extra-info h2{
    padding-bottom: 10px;
    font-size: 30px;
}
.extra-info p{
    padding-bottom: 10px;
    font-size: 20px;
}