* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans Mono', monospace;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

header{
    padding: 15px 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > .logo h1{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

nav > .links-nav a active{
    border-top: 5px solid black;
}

nav > .links-nav a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    text-decoration: none;
    letter-spacing: 0.03rem;
    padding: 5px 10px;
    background-color: black;
    box-shadow: 4px 4px 0 rgb(2, 2, 0 / 10%);
}

main{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.datetime-container{
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 30vh;
}

.datetime-container h1{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
}

.datetime-container h2{
    margin-top: 20px;
    font-size: 120px;
    font-weight: bold;
}

.datetime-container h2 span{
    color: white;
    padding: 5px 10px;
    background-color: black;
}

footer{
    display: flex;
    text-align: center;
    flex-direction: column;
}

footer h1{
    font-size: 15px;
    font-weight: 500;
}

footer .footer-contact-links{
    margin-top: 1px;
}

footer .footer-contact-links a{
    color: black;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
/* library css semir */
.container-themas{
    display:flex;
}
.songs{
    background:lightgrey;
    margin:15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.films{
    background:lightgrey;
    margin:15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.books{
    background:lightgrey;
    margin:15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.actors{
    background:lightgrey;
    margin:15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.container-themas a{
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
    color:white;
}
